body {
  font-family: Arial, Verdana,  sans-serif;
  font-size: 1.5em;
  background-color: #f0f0f0; 
  color: #333;
    width: 90%;
    height: 90%;
    position: absolute;
    margin-left:auto;
    margin-right: auto;
    overflow: auto;
}
h1 {
  color: #a52a2a; 
  font-size: 1.5em;
  font-family: Georgia, Times, serif; 
  font-weight: normal; 
  text-align:center;
}

.message{
  /* margin:25px;
   padding:5px;*/
    margin:5%;
    padding:1%;
   display: inline-block;
   clear: both;
    max-width: 40%;
  /* max-width: 500px;*/
}
.message.message-incoming{
   float:left;
   border-left:3px solid #000000;
   border-bottom:3px solid #000000;
   border-right:3px solid #000000;
   border-top:3px solid #000000;
   border-top-right-radius:15px;
   border-bottom-left-radius:0px;
   border-bottom-right-radius:15px;
   border-top-left-radius:15px;
   background-color:silver;
   color:black;
    margin-left:0%;
    margin-right:0%;
    margin-top:0%;
    margin-bottom:0%;
}

.message.message-outcoming{
    float:right;
    border-left:3px solid #000000;
   border-bottom:3px solid #000000;
   border-right:3px solid #000000;
   border-top:3px solid #000000;
  border-top-right-radius:15px;
   border-bottom-left-radius:15px;
   border-bottom-right-radius:0px;
   border-top-left-radius:15px;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-top:0.5%;
    margin-bottom:0.5%;
   text-align: right;
   background-color:#385bce;
   color:white;
}
.badge { 
font-size: 0.625em;
clear: both; 
} 
.badge-incoming { 
float: left; 
color: grey;
}
.badge-outcoming{
    float:right;
    color:#385bce;
}
.message.chat-button{
                   height:41px;
                   margin-top:-10px;           
}
.newMessage{
    width:100%;
    height: auto;
}
textarea{
    width: 100%;
    height: 5%;
    resize: none;

}
div.history{
    width: 100%;
	height: 80%;
	padding: 2%;
	border: 10px solid #eaeaea;
	box-sizing: border-box;
    align-content:center;
    margin-left:5%;
    margin-top:5%;
   overflow:scroll;
    justify-content:center;
}
.newMessage{
    display:inline-block;
   position:relative;
   margin-left:5%;
}

button.sendMessage{
 position:absolute;
}
.error{
    margin-top:2%;
    text-align:center;
    image-orientation:from-image;
}

.control {
clear: both;
    font-size: 0.5625em;
}
.control-outcoming {
float: right;
}
.control-incoming{
    float:left;
    font-style:italic;
}


.remove-incoming{
      float:left;
   border-left:3px solid #000000;
   border-bottom:3px solid #000000;
   border-right:3px solid #000000;
   border-top:3px solid #000000;
   border-top-right-radius:15px;
   border-bottom-left-radius:0px;
   border-bottom-right-radius:15px;
   border-top-left-radius:15px;
   background-color:#d05757;
   color:white;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-top:0.5%;
    margin-bottom:0.5%;
   font-style:italic;
}
.remove-outcoming{
    float:right;
    border-left:3px solid #000000;
    border-bottom:3px solid #000000;
    border-right:3px solid #000000;
    border-top:3px solid #000000;
    border-top-right-radius:15px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    background-color:#d05757;
    color:white;
    margin-left:0.5%;
    margin-right:0.5%;
    margin-top:0.5%;
    margin-bottom:0.5%;
    font-style:italic;
}
.username{
    font-size:0.9375em;
    text-align:center;
    margin-top:-3%;
    align-content:center;
}